nav.grid-context-menu.hidden {
  display: none;
}

nav.grid-context-menu {
  position: absolute;
  float: left;
  left: 0px;
  top: 0px;
  z-index: 5000;

  display: grid;
  align-items: center;
  justify-items: center;

  box-sizing: border-box;
  border: 2px solid;
  border-radius: 5px;
  padding: 2px;
}

nav.grid-context-menu [data-pos="center"] {
  border: 1px solid;
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* themes */

/* default */
nav.grid-context-menu.theme-default {
  background-color: rgb(230, 230, 240);
  border-color: #444;
}

nav.grid-context-menu.theme-default [data-pos="center"] {
  background-color: #eef;
  border-color: grey;
}

/* Monokai */
nav.grid-context-menu.theme-monokai {
  background-color: #141411;
  color: #F92672;
  border-color: #595959;
}

nav.grid-context-menu.theme-monokai [data-pos="center"] {
  background-color: #383830;
  color: #E6DB74;
}
