body {
  margin: 1px 10px 10px 10px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

h1 {
  text-align: center;
  margin-top: 0px;
  padding-bottom: 5px;
}

.example {
  padding-bottom: 5px;
  border-top: 3px solid darkgray;
  display: grid;
  grid-template:
    'name description' auto
    'preview code' auto
    / 120px
  ;
  grid-gap: 5px;
  align-items: center;
  background-color: #eef;
}

.example:nth-child(even) {
  background-color: #bbf;
}

.example > h2 {
  grid-area: name;
  text-align: center;
}

.example > h3 {
  grid-area: description;
  font-weight: normal;
}

.example > h3 > .target, .example > h3 > .result {
  border: 1px dotted black;
}

.example > h3 > .target.toggled {
  border: 1px dotted black;
  background-color: crimson;
}

.example > .preview {
  grid-area: preview;
  justify-self: center;
}

.example > .CodeMirror {
  grid-area: code;
}
